@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
  }

.font-base{
    font-family: 'Roboto Mono', Montserrat;
}

  .card_info{
    font-size: 14px;
    font-weight: 500;
    /* color: #9aa9c2; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}